@if (password.length > 0) {
  <div class="checklist">
    <p class="checklist-title">La contraseña debe tener:</p>
    <ul>
      <li [class.met]="hasMinLength">
        <ion-icon [name]="hasMinLength ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        Mínimo 12 caracteres
      </li>
      <li [class.met]="hasUppercase">
        <ion-icon [name]="hasUppercase ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        Al menos una mayúscula (A–Z)
      </li>
      <li [class.met]="hasNumber">
        <ion-icon [name]="hasNumber ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        Al menos un número (0–9)
      </li>
      <li [class.met]="hasSpecial">
        <ion-icon [name]="hasSpecial ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        Al menos un carácter especial (!&#64;#$...)
      </li>
    </ul>
  </div>
}